<% unless course.requests_enabled? %>
<div class="alert alert-warning">
  <strong>Flextensions is disabled for this course.</strong> To allow to students to see this course, please enable extensions in <a href="<%= edit_course_path(course) %>">Course Details</a>.
</div>
<% end %> 