<% unless course.course_settings.enable_extensions %>
<div class="alert alert-warning">
  <strong>Flextensions is disabled for this course.</strong> To allow to students to see this course, please enable extensions in <a href="<%= course_settings_path(course, tab: 'general') %>">Course Settings</a>.
</div>
<% end %> 